@charset "UTF-8";
/* Định nghĩa mixin */
* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
}

header {
  background: #000;
  height: 60px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .container .logo-header img {
  width: 116px;
  height: 32px;
  top: 8px;
  left: 12px;
}
header .container .title-header img {
  cursor: pointer;
}
header .container .title-header a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
header .container .title-header a:hover {
  color: #85722f;
  transition: all 0.5s;
}

.nav-menu .container ul {
  padding-left: 0;
}
.nav-menu .container ul li a#home {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.nav-menu .container ul li a#home::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  bottom: 0px;
  left: 0;
  transition: width 0.5s;
}
.nav-menu .container ul li a {
  text-align: center;
  position: relative;
  margin-left: 20px;
}
.nav-menu .container ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: #000;
  bottom: 0px;
  left: 0;
  transition: width 0.5s;
}
.nav-menu .container ul li a:hover {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.nav-menu .container ul li a:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.slideShow {
  background-image: linear-gradient(#fff, #85722f);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0;
}
.slideShow #carouselExample .carousel-inner .carousel-item .carousel-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slideShow #carouselExample .carousel-inner .carousel-item .carousel-content .carousel-content-body {
  text-align: left;
  margin-bottom: 70px;
}
.slideShow #carouselExample .carousel-inner .carousel-item .carousel-content .carousel-content-body h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
}
.slideShow #carouselExample .carousel-inner .carousel-item .carousel-content .carousel-content-body button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #85722f;
  padding: 10px 30px;
  border: solid 1px transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s;
}
.slideShow #carouselExample .carousel-inner .carousel-item .carousel-content .carousel-content-body button:hover {
  background: #fff;
  color: #000;
  transition: all 0.5s;
}
.slideShow #carouselExample button span {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

.product {
  background: #fff;
}
.product h1 {
  padding-bottom: 10px;
}
.product .container .row .item .card.item-content {
  margin: 20px 10px;
  background: #f7f7f7;
}
.product .container .row .item .card.item-content img {
  padding: 30px 30px 0;
}
.product .container .row .item .card.item-content .card-body {
  text-align: left;
  background: #fff;
}
.product .container .row .item .card.item-content .card-body .item-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product .container .row .item .card.item-content .card-body .item-info .item-price {
  border: solid 1px transparent;
  padding: 10px 30px;
  width: 50%;
  text-align: center;
  background: #f7f7f7;
  border-radius: 50px;
  font-weight: bold;
}
.product .container .row .item .card.item-content .card-body .item-info a button {
  cursor: pointer;
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #85722f;
  padding: 10px 40px;
  border: solid 1px transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s;
}
.product .container .row .item .card.item-content .card-body .item-info a button:hover {
  background: #f7f7f7;
  color: #000;
  transition: all 0.5s;
}

footer .footer__content {
  padding-top: 20px;
}
footer .footer__content .container {
  display: flex;
  margin: 0 auto;
  width: 80%;
}
footer .footer__content .container .footer__item {
  flex: 1;
}
footer .footer__content .container .footer__item h3 {
  font-size: 16px;
  font-weight: bold;
}
footer .footer__content .container .footer__item ul {
  padding: 0;
  list-style: none;
}
footer .footer__content .container .footer__item ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
footer .footer__content .container .footer__item ul li .a_red {
  color: red;
}
footer .content0 {
  background: #fafafa;
  padding-bottom: 20px;
}
footer .content1 {
  background: #ececec;
  padding-bottom: 20px;
}
footer .copyright {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: rgb(237, 237, 237);
}
footer .copyright a {
  text-decoration: none;
  color: red;
}
footer .copyright a:hover {
  text-decoration: underline;
  transition: all 1s;
}

.backToTop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  border: solid 1px #85722f;
  background: #85722f;
}
.backToTop i {
  color: #fff;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 0.5;
}

.cd-top--fade-out {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */