@import "./themes/variable.scss";
@import "./component/component";
@import "./base/base";
#info-item {
  background: gray;
  padding: 40px 0;
  .container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-item {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .product-content {
      width: 50%;
      p {
        width: 50%;
        height: 80px;
        overflow: auto;
      }
      #size-item {
        margin: 10px 0;
        width: 50%;
        height: 45px;
        overflow: auto;
      }
      .select-value {
        margin: 10px 0;
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
  }
}
