@import '../themes/variable';
// @import "./component/component";
@import '../base/base';

// header css 
header {
    background: $c0-bg-dark;
    height: 60px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .logo-header {
            img {
                width: 116px;
                height: 32px;
                top: 8px;
                left: 12px;
                
            }
        }
        .title-header {
            img {
                cursor: pointer;
                
            }
            a {
                color: $c0-text-light;
                margin-right: 10px;
                text-decoration: none;
                letter-spacing: 1px;
                &:hover{
                    color: $c1-text-warning;
                    transition: all .5s;
                }
            }
        }
    }
}

.nav-menu {
    .container {
        ul {
            padding-left: 0;
            li {
                a#home {
                    //margin-left: 0;
                    @include text($fz-base, $fw-semibold, $c0-text-dark);
                    &::after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        background-color: $c0-bg-dark;
                        bottom: 0px;
                        left: 0;
                        transition: width 0.5s; 
                    }
                }
                a {
                    
                    text-align: center;
                    position: relative;
                    margin-left: 20px;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 0px;
                        background-color: $c0-bg-dark;
                        bottom: 0px;
                        left: 0;
                        transition: width 0.5s;
                    }
                    &:hover {
                        color: $c0-text-dark;
                        @include text($fz-base, $fw-semibold, $c0-text-dark);
                        &::after {
                            width: 100%;
                            transition: width 0.5s;
                        }
                    }
                }
            }
        }
    }
}

.slideShow {
    background-image: linear-gradient($c0-bg-light, $c1-bg-warning);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 40px 0;
    #carouselExample {
        .carousel-inner{
            .carousel-item {
                .carousel-content {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .carousel-content-body {
                        text-align: left;
                        margin-bottom: 70px;
                        h1{
                            @include text($fz-4xl, $fw-regular, $c0-text-dark);
                        }
                        button{
                            @include button($fz-base, $fw-regular, $c0-text-light, $c1-bg-warning, 10px 30px, solid 1px transparent, 50px, $c0-bg-light, $c0-text-dark);
    
                            
                        }
                    }
                }
            }

        }
        button{
            span{
                width: 40px;
                height: 40px;
                border-radius: 2px;
                
            }
        }
        
    }
}

.product {
    background: $c0-bg-light;
    
    h1{
        padding-bottom: 10px;
    }
    .container {
        .row {
            .item {
                .card.item-content {
                    
                    margin: 20px 10px;
                    //padding: 20px;
                    background: $c0-bg-white;
                    // .item-title {
                    // }
                    img{
                        padding: 30px 30px 0;
                    }
                    .card-body{
                        text-align: left;
                        background: $c0-bg-light;
                        .item-title{
                            h5{

                            }
                            p{

                            }
                        }
                        .item-star{

                        }

                        .item-info {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            
                            .item-price{
                                border: solid 1px transparent;
                                padding: 10px 30px;
                                width: 50%;
                                text-align: center;
                                background: #f7f7f7;
                                border-radius: 50px;
                                font-weight: bold;

                            }
                            a{
                                button{
                                    // font-size: 16px;
                                    // font-weight: 400;
                                    // color: #fff;
                                    // background: #85722f;
                                    // padding: 10px 40px;
                                    // border: solid 1px transparent;
                                    // border-radius: 50px;
                                    cursor: pointer;
                                    transition: all 0.5s;
                                    
                                    @include button($fz-base, $fw-regular, $c0-text-light, $c1-bg-warning ,10px 40px, solid 1px transparent, 50px, $c0-bg-white, $c0-text-dark);

                                }
                            }
                        }

                    }
                    
                }
            }
        }
    }
}

// footer css
footer{

    .footer__content{
        
        padding-top: 20px;
        .container{
            display: flex;
            margin: 0 auto;
            width: 80%;
            
            .footer__item{
                flex: 1;
                h3{
                    font-size: 16px;
                    font-weight: bold;

                }
                ul{
                    padding: 0;
                    list-style: none;
                    li{
                        
                        a{
                            text-decoration: none;
                            color: #000;
                            font-size: 14px;

                        }
                        .a_red{
                            color: red;
                        }
                    }
                }
            }
        }
    }
    .content0{
        background: #fafafa;
        padding-bottom: 20px;
    }
    .content1{
        background: #ececec;
        padding-bottom: 20px;
    }
    .copyright{
        border-top: solid 1px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background: rgb(237, 237, 237);
        a{
            text-decoration: none;
            color: red;
            &:hover{
                text-decoration: underline;
                transition: all 1s;
            }
        }
    }
}

//backtotop
.backToTop{
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    
    border: solid 1px $c1-bg-warning;
    background: $c1-bg-warning;
    i{
        color: $c0-text-light;
    }
    
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: .5;
  }
  
  .cd-top--fade-out { 
    opacity: 1;
  }
